* @tech4life-beyond/owners @tech4life-beyond/architects
/schema/ @tech4life-beyond/owners @tech4life-beyond/architects
/kivai_sdk/ @tech4life-beyond/owners @tech4life-beyond/architects
/tests/ @tech4life-beyond/owners @tech4life-beyond/architects
